.icon {
  font-size: 30px;
}

.icon2 {
  font-size: 30px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #3E90CC !important;
  color: white;
}

a{
  text-decoration: none;
  color: black;
}

.menu:hover, .btn:hover, .titlePost{
  background-color: #3E90CC;
  color: white;
  border-color: none;
}

.btn{
  color: #bf0603;
  border-color: #bf0603;
}

.btn-post{
  border-radius: 100%;
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: white;
  background-color: #bf0603;
}

@media(max-width: 800px){
  #pills-tab li{
    width: 100%;
    height: 30%;
  }

  #pills-tab a{
    margin: 0 auto !important;
  }
}
