<div class="container mb-5 mt-5" id="postagens">

  <ul class="nav d-flex justify-content-center nav-pills mb-3" id="pills-tab" role="tablist">

      <!-- menu de temas  -->
      <li class="nav-item">
          <a class="nav-link card p-4 menu active" id="pills-todas-tab" data-toggle="pill" href="#pills-todas"
              role="tab" aria-controls="pills-todas" aria-selected="true">
              <div class="card-body text-center pr-0 pl-0">
                  <i class="fa fa-home card-title icon" aria-hidden="true"></i>
                  <p class="card-text">TODAS</p>
              </div>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link card p-4 menu ml-4" id="pills-saude-tab" data-toggle="pill" href="#pills-saude"
              role="tab" aria-controls="pills-saude" aria-selected="true">
              <div class="card-body text-center pr-0 pl-0">
                  <i class="fa fa-medkit card-title icon" aria-hidden="true"></i>
                  <p class="card-text">SAÚDE</p>
              </div>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link card p-4 menu ml-4" id="pills-educacao-tab" data-toggle="pill" href="#pills-educacao"
              role="tab" aria-controls="pills-educacao" aria-selected="true">
              <div class="card-body text-center pr-0 pl-0">
                  <i class="fa fa-graduation-cap card-title icon" aria-hidden="true"></i>
                  <p class="card-text">EDUCAÇÃO</p>
              </div>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link card p-4 menu ml-4" id="pills-cultura-tab" data-toggle="pill" href="#pills-cultura"
              role="tab" aria-controls="pills-cultura" aria-selected="true">
              <div class="card-body text-center pr-0 pl-0">
                  <i class="fa fa-music card-title icon" aria-hidden="true"></i>
                  <p class="card-text">CULTURA</p>
              </div>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link card p-4 menu ml-4" id="pills-esporte-tab" data-toggle="pill" href="#pills-esporte"
              role="tab" aria-controls="pills-esporte" aria-selected="true">
              <div class="card-body text-center pr-0 pl-0">
                  <i class="fa fa-futbol-o card-title icon" aria-hidden="true"></i>
                  <p class="card-text">ESPORTE</p>
              </div>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link card p-4 menu ml-4" id="pills-social-tab" data-toggle="pill" href="#pills-social"
              role="tab" aria-controls="pills-social" aria-selected="true">
              <div class="card-body text-center pr-0 pl-0">
                  <i class="fa fa-handshake-o card-title icon" aria-hidden="true"></i>
                  <p class="card-text">SOCIAL</p>
              </div>
          </a>
      </li>
      <li class="nav-item">
          <a routerLink='/novo-tema' class="nav-link card p-4 menu ml-4" id="pills-outros-tab" data-toggle="pill"
              href="#pills-outros" role="tab" aria-controls="pills-outros" aria-selected="true">
              <div class="card-body text-center pr-0 pl-0">
                  <i class="fa fa-plus card-title icon" aria-hidden="true"></i>
                  <p class="card-text">MAIS</p>
              </div>
          </a>
      </li>
  </ul>

  <!-- tabs de postagens -->
  <div class="tab-content" id="pills-tabContent">

      <div class="tab-pane fade show active mt-5 mb-5" id="pills-todas" role="tabpanel"
          aria-labelledby="pills-todas-tab">

          <!-- Card de postagem -->
          <div class="row">
              <div class="container" *ngFor='let item of listaPosts | orderBy : key : reverse'>
                  <div class="col-md-8 d-flex justify-content-center container p-0">

                      <div class="card mb-3">
                          <!-- imagem do post -->
                          <img class="card-img-top" src="https://i.imgur.com/8qvK9N0.jpg"
                              alt="Imagem de capa do card">
                          <div class="card-body">
                              <div class="row">
                                  <!-- titulo da postagem -->
                                  <div class="col-md-6 d-flex justify-content-start">
                                      <h5 class="card-title">{{ item.titulo }}</h5>
                                  </div>
                                  <!-- botão de like -->
                                  <div class="col-md-6 d-flex justify-content-end"><button type="button" class="btn btn-outline-primary rounded-pill"><i class="fa fa-heart" aria-hidden="true"></i> Like</button>
                                  </div>

                              </div>
                              <!-- autor e data -->
                              <p class="card-text">
                                  <small class="text-muted">
                                      <i class="fa fa-user mr-1" aria-hidden="true"></i>
                                      {{item.usuario.nome}}
                                      <i class="fa fa-clock-o ml-4 mr-1" aria-hidden="true"></i>
                                      {{item.data | date: 'dd/MM/yyyy'}}
                                      <i class="fa fa-building ml-4 mr-1" aria-hidden="true"></i>
                                      Quem Faz: {{ item.quemFaz}}
                                      <i class="fa fa-share-alt ml-4 mr-1" aria-hidden="true"></i>
                                      Tema: {{ item.tema.titulo}}

                                  </small>
                              </p>
                              <!-- texto da postagem -->
                              <p class="card-text">{{item.descricao}}</p>
                              <!-- Botoes-->
                              <button class="btn mr-2" [routerLink]="['/post-edit', item.id]">
                                Editar
                              </button>
                              <a [routerLink]="['/post-delete', item.id]" class="text-danger">Deletar</a>

                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>

      <div class="tab-pane fade mt-5 mb-5" id="pills-saude" role="tabpanel" aria-labelledby="pills-saude-tab">

          <!-- Card de postagem -->
          <div class="row">
              <div class="container" *ngFor='let item of listaPosts | orderBy : key : reverse'>
                  <div class="col-md-8 d-flex justify-content-center container p-0">
                      <div class="card mb-3" *ngIf="item.tema.titulo === 'Saúde'">
                          <!-- imagem do post -->
                          <img class="card-img-top" src="https://i.imgur.com/8qvK9N0.jpg"
                              alt="Imagem de capa do card">
                          <div class="card-body">
                              <div class="row">
                                  <!-- titulo da postagem -->
                                  <div class="col-md-6 d-flex justify-content-start">
                                      <h5 class="card-title">{{ item.titulo }}</h5>
                                  </div>
                                  <!-- botão de like -->
                                  <div class="col-md-6 d-flex justify-content-end"><button type="button" class="btn btn-outline-primary rounded-pill"><i class="fa fa-heart" aria-hidden="true"></i> Like</button>
                                  </div>
                              </div>
                              <!-- autor e data -->
                              <p class="card-text">
                                  <small class="text-muted">
                                      <i class="fa fa-user mr-1" aria-hidden="true"></i>
                                      {{item.usuario.nome}}
                                      <i class="fa fa-clock-o ml-4 mr-1" aria-hidden="true"></i>
                                      {{item.data | date: 'dd/MM/yyyy'}}
                                      <i class="fa fa-building ml-4 mr-1" aria-hidden="true"></i>
                                      Quem Faz: {{ item.quemFaz}}
                                      <i class="fa fa-share-alt ml-4 mr-1" aria-hidden="true"></i>
                                      Tema: {{ item.tema.titulo}}
                                  </small>
                              </p>
                              <!-- texto da postagem -->
                              <p class="card-text">{{item.descricao}}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>

      <div class="tab-pane fade mt-5 mb-5" id="pills-educacao" role="tabpanel" aria-labelledby="pills-educacao-tab">

          <!-- Card de postagem -->
          <div class="row">
              <div class="container" *ngFor='let item of listaPosts | orderBy : key : reverse'>
                  <div class="col-md-8 d-flex justify-content-center container p-0">
                      <div class="card mb-3" *ngIf="item.tema.titulo === 'Educação'">
                          <!-- imagem do post -->
                          <img class="card-img-top" src="https://i.imgur.com/8qvK9N0.jpg"
                              alt="Imagem de capa do card">
                          <div class="card-body">
                              <div class="row">
                                  <!-- titulo da postagem -->
                                  <div class="col-md-6 d-flex justify-content-start">
                                      <h5 class="card-title">{{ item.titulo }}</h5>
                                  </div>
                                  <!-- botão de like -->
                                  <div class="col-md-6 d-flex justify-content-end"><button type="button" class="btn btn-outline-primary rounded-pill"><i class="fa fa-heart" aria-hidden="true"></i> Like</button>
                                  </div>
                              </div>
                              <!-- autor e data -->
                              <p class="card-text">
                                  <small class="text-muted">
                                      <i class="fa fa-user mr-1" aria-hidden="true"></i>
                                      {{item.usuario.nome}}
                                      <i class="fa fa-clock-o ml-4 mr-1" aria-hidden="true"></i>
                                      {{item.data | date: 'dd/MM/yyyy'}}
                                      <i class="fa fa-building ml-4 mr-1" aria-hidden="true"></i>
                                      Quem Faz: {{ item.quemFaz}}
                                      <i class="fa fa-share-alt ml-4 mr-1" aria-hidden="true"></i>
                                      Tema: {{ item.tema.titulo}}
                                  </small>
                              </p>
                              <!-- texto da postagem -->
                              <p class="card-text">{{item.descricao}}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>

      <div class="tab-pane fade mt-5 mb-5" id="pills-cultura" role="tabpanel" aria-labelledby="pills-cultura-tab">

          <!-- Card de postagem -->
          <div class="row">
              <div class="container" *ngFor='let item of listaPosts | orderBy : key : reverse'>
                  <div class="col-md-8 d-flex justify-content-center container p-0">
                      <div class="card mb-3" *ngIf="item.tema.titulo === 'Cultura'">
                          <!-- imagem do post -->
                          <img class="card-img-top" src="https://i.imgur.com/8qvK9N0.jpg"
                              alt="Imagem de capa do card">
                          <div class="card-body">
                              <div class="row">
                                  <!-- titulo da postagem -->
                                  <div class="col-md-6 d-flex justify-content-start">
                                      <h5 class="card-title">{{ item.titulo }}</h5>
                                  </div>
                                  <!-- botão de like -->
                                  <div class="col-md-6 d-flex justify-content-end"><button type="button" class="btn btn-outline-primary rounded-pill"><i class="fa fa-heart" aria-hidden="true"></i> Like</button>
                                  </div>
                              </div>
                              <!-- autor e data -->
                              <p class="card-text">
                                  <small class="text-muted">
                                      <i class="fa fa-user mr-1" aria-hidden="true"></i>
                                      {{item.usuario.nome}}
                                      <i class="fa fa-clock-o ml-4 mr-1" aria-hidden="true"></i>
                                      {{item.data | date: 'dd/MM/yyyy'}}
                                      <i class="fa fa-building ml-4 mr-1" aria-hidden="true"></i>
                                      Quem Faz: {{ item.quemFaz}}
                                      <i class="fa fa-share-alt ml-4 mr-1" aria-hidden="true"></i>
                                      Tema: {{ item.tema.titulo}}
                                  </small>
                              </p>
                              <!-- texto da postagem -->
                              <p class="card-text">{{item.descricao}}</p>

                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>

      <div class="tab-pane fade mt-5 mb-5" id="pills-esporte" role="tabpanel" aria-labelledby="pills-esporte-tab">

          postagens sobre esporte

      </div>

      <div class="tab-pane fade mt-5 mb-5" id="pills-social" role="tabpanel" aria-labelledby="pills-social-tab">

          postagens sobre social

      </div>

      <div class="tab-pane fade mt-5 mb-5" id="pills-outros" role="tabpanel" aria-labelledby="pills-outros-tab">

          postagens sobre outros

      </div>

  </div>
</div>



<!-- Modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-post" data-toggle="modal" data-target="#exampleModalCenter">
  <i class="fa fa-pencil-square-o mt-1 ml-1 icon2" aria-hidden="true"></i>
</button>

<!-- Modal -->
<div class="modal fade container-fluid" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header titlePost">
              <h5 class="modal-title" id="exampleModalLongTitle"><i class="fa fa-pencil mr-1" aria-hidden="true"></i> Criar publicação</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body d-flex">
              <div class="modal-body">
                  <!-- Formulario -->
                  <div class="row d-flex">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label for="titulo">Título</label>
                              <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
                                  placeholder="Título do post">
                          </div>
                      </div>
                  </div>
                  <div class="row d-flex">
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="tema">Tema</label>
                              <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema'
                                  (change)='findByIdTema()'>
                                  <option value="{{ item.id }}" *ngFor='let item of listaTema'>
                                      {{ item.titulo }}</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="titulo">Quem faz?</label>
                              <input [(ngModel)]='postagem.quemFaz' type="text" class="form-control" id="titulo"
                                  placeholder="Quem está oferecendo isso">
                          </div>
                      </div>
                  </div>

                  <div class="row d-flex">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label for="foto-post">Imagem do post</label>
                              <input [(ngModel)]='postagem.midia' type="text" class="form-control" id="foto-post"
                                  placeholder="Foto url">
                          </div>
                      </div>
                  </div>


                  <div class="form-group">
                      <label for="descricao">Descrição</label>
                      <textarea [(ngModel)]='postagem.descricao' name="descricao" id="descricao" cols="30" rows="5"
                          class="form-control" placeholder="Dica: use hashtags"></textarea>
                  </div>



                  <div class="modal-footer d-flex justify-content-center">
                      <button type="button" class="btn" (click)='postar()'><i class="fa fa-check" aria-hidden="true"></i> Postar</button>
                  </div>
              </div>
          </div>
      </div>


















