<div class="row">
  <div class="d-flex justify-content-center mt-4 mb-4 container p-0">
    <div class="card-deck p-0">

      <div class="card p-4">
        <div class="card-body text-center pr-0 pl-0">
          <i class="fa fa-medkit card-title" aria-hidden="true"></i>
          <p class="card-text">SAÚDE</p>
        </div>
      </div>

      <div class="card p-4">
        <div class="card-body text-center pr-0 pl-0">
          <i class="fa fa-graduation-cap card-title" aria-hidden="true"></i>
          <p class="card-text">EDUCAÇÃO</p>
        </div>
      </div>


      <div class="card p-4">
        <div class="card-body text-center pr-0 pl-0">
          <i class="fa fa-music card-title" aria-hidden="true"></i>
          <p class="card-text">CULTURA</p>
        </div>
      </div>

      <div class="card p-4">
        <div class="card-body text-center pr-0 pl-0">
          <i class="a fa-futbol-o card-title" aria-hidden="true"></i>
          <p class="card-text">ESPORTE</p>
        </div>
      </div>

      <div class="card p-4">
        <div class="card-body text-center pr-0 pl-0">
          <i class="fa  fa-handshake-o card-title" aria-hidden="true"></i>
          <p class="card-text">DOAÇÕES</p>
        </div>
      </div>

      <a routerLink='/novo-tema'>
      <div class="card p-4">
        <div class="card-body text-center pr-0 pl-0">
          <i class="fa fa-plus card-title" aria-hidden="true"></i>
          <p class="card-text">MAIS</p>
        </div>
      </div>
      </a>


    </div>


  </div>
</div>



