.bg-login{
  /* background-image: url('https://cdn-images-1.medium.com/max/2000/1*BxRliTppPkeHSA7tpHQQbA@2x.png'); */
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.bg-login{
  background-image: url('https://i.imgur.com/TdfbBh3.png');
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.login-box{
  background-color: #3E90CC ;
  border-radius: 4px;
  color: white;
}

a{
  color: yellow;
}
