<header>

  <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
  <div class="overlay"></div>

  <!-- The HTML5 video element that will create the background video on the header -->
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="../../assets/video/People.mp4" type="video/mp4">
  </video>

  <!-- The header content -->
  <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">
              <h1 class="display-3">Bem Vindo!</h1>
              <p class="lead mb-0">Aqui você vai descobrir diversos serviços gratuitos</p>
          </div>
      </div>
  </div>
</header>

<!-- Titulo -->
<section id="temas" class="pb-5">
  <div class="row">
      <div class="col-md-8 d-flex justify-content-center mb-3 mt-5 container p-0">
          <h1 class="text-left text-white">Encontre vários temas</h1>
      </div>
  </div>

  <!-- Page section example for content below the video header -->
  <div class="row">
      <div class="d-flex justify-content-center mt-3 mb-4 container p-0">
          <div class="card-deck p-0">

              <div class="image-flip" >
                  <div class="mainflip flip-0">
                      <div class="frontside">
                          <div class="card bg-white rounded shadow-sm py-5 px-4">
                              <div class="card-body text-center">
                                  <i class="fa fa-medkit card-title icon" aria-hidden="true"></i>
                                  <p class="card-text">SAÚDE</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card" style="margin: 0px;">
                              <div class="card-body text-center">
                                  <p class="card-text text-white">Exames, Consultas, Assistência, Remédios, entre outros</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="image-flip" >
                  <div class="mainflip flip-0">
                      <div class="frontside">
                          <div class="card bg-white rounded shadow-sm py-5 px-4">
                              <div class="card-body text-center">
                                  <i class="fa fa-graduation-cap card-title icon" aria-hidden="true"></i>
                                  <p class="card-text">EDUCAÇÃO</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card" style="margin: 0px;">
                              <div class="card-body text-center">
                                  <p class="card-text text-white">Aulas, Cursos, Palestras, Livros, Mentoria, entre outros</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="image-flip" >
                  <div class="mainflip flip-0">
                      <div class="frontside">
                          <div class="card bg-white rounded shadow-sm py-5 px-4">
                              <div class="card-body text-center">
                                  <i class="fa fa-music card-title icon" aria-hidden="true"></i>
                                  <p class="card-text">CULTURA</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card" style="margin: 0px;">
                              <div class="card-body text-center">
                                  <p class="card-text text-white">This is basic card with image on top, title, description and button.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="image-flip" >
                  <div class="mainflip flip-0">
                      <div class="frontside">
                          <div class="card bg-white rounded shadow-sm py-5 px-4">
                              <div class="card-body text-center">
                                  <i class="fa fa-futbol-o card-title icon" aria-hidden="true"></i>
                      <p class="card-text">ESPORTE</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card" style="margin: 0px;">
                              <div class="card-body text-center">
                                  <p class="card-text text-white">This is basic card with image on top, title, description and button.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="image-flip" >
                  <div class="mainflip flip-0">
                      <div class="frontside">
                          <div class="card bg-white rounded shadow-sm py-5 px-4">
                              <div class="card-body text-center">

                      <i class="fa fa-handshake-o card-title icon" aria-hidden="true"></i>
                      <p class="card-text">SOCIAL</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card" style="margin: 0px;">
                              <div class="card-body text-center">
                                  <p class="card-text text-white">This is basic card with image on top, title, description and button.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="image-flip" >
                  <div class="mainflip flip-0">
                      <div class="frontside">
                          <div class="card bg-white rounded shadow-sm py-5 px-4">
                              <div class="card-body text-center">
                                  <i class="fa fa-plus card-title icon" aria-hidden="true"></i>
                                  <p class="card-text">DIVERSOS</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card" style="margin: 0px;">
                              <div class="card-body text-center">
                                  <p class="card-text text-white">This is basic card with image on top, title, description and button.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>

<section id="funciona" class="pb-5">
  <div class="row">
      <div class="col-md-8 d-flex justify-content-center mb-3 mt-5 container p-0">
          <h1 class="text-left text-white">Como funciona?</h1>
      </div>
  </div>

  <!-- Page section example for content below the video header -->
  <div class="row">
      <div class="d-flex justify-content-center mt-3 mb-5 container p-0">
          <div class="card-deck p-0">

              <div class="card p-4 menu">
                  <div class="card-body text-center pr-0 pl-0">
                      <i class="fa fa-user-plus card-title icon" aria-hidden="true"></i>
                      <p class="card-text">CADASTRE-SE E FAÇA LOGIN</p>
                  </div>
              </div>
              <div class="card p-4 menu" style="width: 200px;">
                  <div class="card-body text-center pr-0 pl-0">
                      <i class="fa fa-search card-title icon" aria-hidden="true"></i>
                      <p class="card-text">NAVEGUE PELOS TEMAS</p>
                  </div>
              </div>

              <div class="card p-4 menu">
                  <div class="card-body text-center pr-0 pl-0">
                      <i class="fa fa-newspaper-o card-title icon" aria-hidden="true"></i>
                      <p class="card-text">ENCONTRE ALGO DO SEU INTERESSE</p>
                  </div>
              </div>

              <div class="card p-4 menu">
                  <div class="card-body text-center pr-0 pl-0">
                      <i class="fa fa-bullhorn card-title icon" aria-hidden="true"></i>
                      <p class="card-text">COMPARTILHE COM A COMUNIDADE</p>
                  </div>
              </div>

              <div class="card p-4 menu menu">
                  <div class="card-body text-center pr-0 pl-0">
                      <i class="fa fa-heart card-title icon" aria-hidden="true"></i>
                      <p class="card-text">CURTA PARA DEIXAR EM DESTAQUE</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section id="destaques" class="pb-5">
  <div class="row">
      <div class="col-md-8 d-flex justify-content-center mb-3 mt-5 container p-0">
          <h1 class="text-left text-white">Postagens em destaque</h1>
      </div>
  </div>

  <!-- Page section example for content below the video header -->
  <div class="row">
      <div class="d-flex justify-content-center mt-3 mb-5 container p-0">

          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img class="d-block w-100" src="https://i.imgur.com/8qvK9N0.jpg" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                          <h5>Tiltulo da postagem</h5>
                          <p>Descrição da postagem</p>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <img class="d-block w-100" src="https://i.imgur.com/8qvK9N0.jpg" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                          <h5>Tiltulo da postagem</h5>
                          <p>Descrição da postagem</p>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <img class="d-block w-100" src="https://i.imgur.com/8qvK9N0.jpg" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                          <h5>Tiltulo da postagem</h5>
                          <p>Descrição da postagem</p>
                      </div>
                  </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

      </div>
  </div>
</section>

