body{
  padding-left: 0;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

#temas{
  background: #3E90CC !important;
}
#funciona {
  background: #092A71 !important;
}
#destaques {
  background: #BF0603 !important;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

.icon {
  font-size: 50px;
}


a{
  text-decoration: none;
  color: black;
}

.menu {
  color: #092A71;
}

.menu:hover {
  background-color: #3E90CC;
  color: white;
}

.btn{
  color: #3E90CC;
  border-color: #3E90CC;
}

.btn:hover {
  background-color: #3E90CC;
  color: white;
}

.btn-post{
  border-radius: 100%;
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #3E90CC;
  border-color: #3E90CC;
  box-shadow: none;
  outline: none;
}
.btn-primary {
  color: #fff;
  background-color: #3E90CC;
  border-color: #3E90CC;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}
.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
.frontside {
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}
.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}
.frontside .card{
  min-height: 230px;
}
.backside .card {
  min-height: 230px;
  background-color: #092A71;
}
.backside .card a {
  font-size: 18px;
  color: #3E90CC !important;
}
.frontside .card .card-title,
.backside .card .card-title {
  color: #3E90CC !important;
}
