

.btn{
  background-color: white !important;
  color: #3E90CC !important;
  border-color:  #3E90CC !important;
}

.btn:focus{
  background-color: #3E90CC !important;
  color: white !important;
  border-color:  white !important;
}

@media (max-width: 800px)
{
  #conteudoNavbarSuportado{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  ul.navbar-nav{
    margin: 0 auto;
  }

  a{
    margin: 5px auto !important;
  }
}
