
<section id="sobre" class="pb-5">
    <div class="container p-4">
        <div class="row mt-5 mb-5">
            <div class="col-md-6">
                <h5 class="section-title text-center text-white mt-5 mb-4">SOBRE NÓS</h5>
                <p class="text-center text-white mt-5">Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.
                Mé faiz elementum girarzis, nisi eros vermeio. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum.</p>
            </div>
            <div class="col-md-6">
                <img src="https://i.imgur.com/hJQS80y.png" height="450px">
            </div>
        </div>
    </div>
</section>

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container p-4">
        <h5 class="section-title text-center text-white mt-5 mb-5">NOSSO TIME</h5>
        <div class="row mb-5">
            <!-- Team member 1 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card bg-white rounded shadow-sm py-5 px-4">
                                <div class="card-body text-center">
                                    <img src="https://th.bing.com/th/id/R.fdcfddfa10b13f22eea5115ce90fc9b5?rik=DXQ%2fBBlO%2bOnnGA&pid=ImgRaw&r=0" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Danilo, 28</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Danilo</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li title="Visite meu LinkedIn" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                        <li title="Conheça meu Instagram" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                                        <li title="Confira meu GitHub" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                                        <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member 1 -->
            <!-- Team member 2 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card bg-white rounded shadow-sm py-5 px-4">
                                <div class="card-body text-center">
                                    <img src="https://th.bing.com/th/id/R.fdcfddfa10b13f22eea5115ce90fc9b5?rik=DXQ%2fBBlO%2bOnnGA&pid=ImgRaw&r=0" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Joaslen, 28</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Joaslen</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li title="Visite meu LinkedIn" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                        <li title="Conheça meu Instagram" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                                        <li title="Confira meu GitHub" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                                        <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member 2 -->
            <!-- Team member 3 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card bg-white rounded shadow-sm py-5 px-4">
                                <div class="card-body text-center">
                                    <img src="https://th.bing.com/th/id/R.fdcfddfa10b13f22eea5115ce90fc9b5?rik=DXQ%2fBBlO%2bOnnGA&pid=ImgRaw&r=0" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Kevin, 28</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Kevin</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li title="Visite meu LinkedIn" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                        <li title="Conheça meu Instagram" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                                        <li title="Confira meu GitHub" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                                        <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member 3 -->
            <!-- Team member 4 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card bg-white rounded shadow-sm py-5 px-4">
                                <div class="card-body text-center">
                                    <img src="https://th.bing.com/th/id/R.fdcfddfa10b13f22eea5115ce90fc9b5?rik=DXQ%2fBBlO%2bOnnGA&pid=ImgRaw&r=0" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Lucas, 28</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Lucas</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li title="Visite meu LinkedIn" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                        <li title="Conheça meu Instagram" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                                        <li title="Confira meu GitHub" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                                        <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member 4 -->
            <!-- Team member 5 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card bg-white rounded shadow-sm py-5 px-4">
                                <div class="card-body text-center">
                                    <img src="https://th.bing.com/th/id/R.fdcfddfa10b13f22eea5115ce90fc9b5?rik=DXQ%2fBBlO%2bOnnGA&pid=ImgRaw&r=0" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Milena, 28</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Milena</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li title="Visite meu LinkedIn" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                        <li title="Conheça meu Instagram" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                                        <li title="Confira meu GitHub" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                                        <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member 5 -->
            <!-- Team member 6 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card bg-white rounded shadow-sm py-5 px-4">
                                <div class="card-body text-center">
                                    <img src="https://th.bing.com/th/id/R.fdcfddfa10b13f22eea5115ce90fc9b5?rik=DXQ%2fBBlO%2bOnnGA&pid=ImgRaw&r=0" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Nubia, 28</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Nubia</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li title="Visite meu LinkedIn" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                        <li title="Conheça meu Instagram" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                                        <li title="Confira meu GitHub" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                                        <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member 6 -->

        </div>
    </div>
</section>
<!-- Team -->

<section id="missao" class="pb-5">
    <div class="container p-4">
        <div class="row mt-5">
            <div class="col-md-4 p-3">
                <img src="https://i.imgur.com/TvmixW5.png" height="300px">
            </div>
            <div class="col-md-8">
                <h5 class="section-title text-center text-white mt-5 mb-4">MISSÃO</h5>
                <p class="text-right text-white mt-5">Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Per aumento de cachacis, eu reclamis. Paisis, filhis, espiritis santis. Cevadis im ampola pa arma uma pindureta.</p>
            </div>
        </div>
        <hr style="background-color: white;">
        <div class="row mb-5">
            <div class="col-md-8">
                <h5 class="section-title text-center text-white mt-5 mb-4">VISÃO</h5>
                <p class="text-left text-white mt-5">Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Per aumento de cachacis, eu reclamis. Paisis, filhis, espiritis santis. Cevadis im ampola pa arma uma pindureta.</p>
            </div>
            <div class="col-md-4 p-3">
                <img src="https://i.imgur.com/91AxFDD.png" height="300px">
            </div>
        </div>
    </div>
</section>


