
<section id="sobre" class="pb-5">
    <div class="container p-4">
        <div class="row mt-5 mb-5">
            <div class="col-md-6">
                <h5 class="section-title text-center mt-3 mb-4">SOBRE NÓS</h5>
                <p class="text-center">O É de Graça! é uma rede social que conecta pessoas, ações, serviços e organizações com intuito de facilitar o acesso por meio da informação.</p>
                    <p class="text-center">
                    Surgimos através da percepção de que a falta de informação sobre benefícios gratuitos de saúde, alimentação, serviços sociais, entre outros, constrói barreiras que dificultam a população carente a ter acesso a essas oportunidades. Em um mundo cada vez mais conectado, acreditamos que a tecnologia mais do que nunca deve ser aliada, ajudando a promover essa interação aproximando pessoas a oportunidades que ajudam a melhorar sua qualidade de vida.</p>
                    <p class="text-center">
                    Dessa forma foi criado a rede É de Graça! com a proposta de ser um local onde diversas ações poderão ser divulgadas e, para aqueles que querem de alguma forma ajudar, tenham a oportunidade de conhecer e se conectar.</p>
            </div>
            <div class="col-md-6">
                <img class="ml-5" src="https://i.imgur.com/R90X09E.png" height="450px">
            </div>
        </div>
    </div>
</section>

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container p-4">
        <h5 class="section-title text-center text-white mt-5 mb-5">NOSSO TIME</h5>
        <div class="row mb-5">
            <!-- Team member 1 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card bg-white rounded shadow-sm py-5 px-4">
                                <div class="card-body text-center">
                                    <img src="https://imgur.com/zXehKUm.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Danilo, 29</h5><span class="small text-uppercase text-muted">DEV TEAM</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Danilo</h4>
                                    <p class="card-text">Entusiasta da tecnologia movido por desafios e fascinado por novos conhecimentos. Profissional da Administração formado em Processos Gerenciais concluindo uma das suas maiores experiências junto a Generation Brasil para a transição de carreira.</p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li title="Visite meu LinkedIn" class="list-inline-item"><a href="https://www.linkedin.com/in/danilopesan/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                        <li title="Confira meu GitHub" class="list-inline-item"><a href="https://github.com/Danilodni9554" class="social-link"><i class="fa fa-github"></i></a></li>
                                        <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member 1 -->
            <!-- Team member 2 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card bg-white rounded shadow-sm py-5 px-4">
                                <div class="card-body text-center">
                                    <img src="https://imgur.com/PPEnuWt.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Joaslen, 23</h5><span class="small text-uppercase text-muted">DEV TEAM</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Joaslen</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li title="Visite meu LinkedIn" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>

                                        <li title="Confira meu GitHub" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                                        <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member 2 -->
            <!-- Team member 3 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card bg-white rounded shadow-sm py-5 px-4">
                                <div class="card-body text-center">
                                    <img src="https://imgur.com/zIkD7FB.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Kevin, 23</h5><span class="small text-uppercase text-muted">DEV TEAM</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Kevin</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li title="Visite meu LinkedIn" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                        <li title="Confira meu GitHub" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                                        <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member 3 -->
            <!-- Team member 4 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card bg-white rounded shadow-sm py-5 px-4">
                                <div class="card-body text-center">
                                    <img src="https://imgur.com/D5qqVrI.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Lucas, 25</h5><span class="small text-uppercase text-muted">DEV TEAM</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Lucas</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li title="Visite meu LinkedIn" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                        <li title="Confira meu GitHub" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                                        <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member 4 -->
            <!-- Team member 5 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card bg-white rounded shadow-sm py-5 px-4">
                                <div class="card-body text-center">
                                    <img src="https://imgur.com/1Z2X0cY.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Milena, 28</h5><span class="small text-uppercase text-muted">DEV TEAM</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Milena</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li title="Visite meu LinkedIn" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                        <li title="Confira meu GitHub" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                                        <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member 5 -->
            <!-- Team member 6 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card bg-white rounded shadow-sm py-5 px-4">
                                <div class="card-body text-center">
                                    <img src="https://imgur.com/o6GoFdy.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Nubia, 24</h5><span class="small text-uppercase text-muted">DEV TEAM</span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Nubia</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li title="Visite meu LinkedIn" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                        <li title="Confira meu GitHub" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                                        <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member 6 -->

        </div>
    </div>
</section>
<!-- Team -->

<section id="missao" class="pb-5">
    <div class="container p-4">
        <div class="row mt-5">
            <div class="col-md-4 p-3">
                <img src="https://i.imgur.com/TvmixW5.png" height="300px">
            </div>
            <div class="col-md-8">
                <h5 class="section-title text-center mt-5 mb-4">MISSÃO</h5>
                <p class="text-right mt-5">Promover a conexão de pessoas, serviços, instituições, projetos, doadores e voluntários contribuindo para a erradicação da pobreza e os males socioeconômicos segundo ODS 1 da agenda 2030 das Nações Unidas.</p>
            </div>
        </div>
        <hr>
        <div class="row mb-5">
            <div class="col-md-8">
                <h5 class="section-title text-center mt-5 mb-4">VISÃO</h5>
                <p class="text-left  mt-5">Ser uma rede social reconhecida pelo seu papel na mudança do cenário social. Impactar positivamente o maior número de pessoas e projetos através do acesso à informação.
                </p>
            </div>
            <div class="col-md-4 p-3">
                <img src="https://i.imgur.com/91AxFDD.png" height="300px">
            </div>
        </div>
        <hr>
        <div class="row mt-5">
            <div class="col-md-4 p-3">
                <img src="https://i.imgur.com/qeX5YR3.png" height="300px">
            </div>
            <div class="col-md-8">
                <h5 class="section-title text-center mt-5 mb-4">VALORES</h5>
                <p class="text-right mt-5">Empatia, Altruísmo, Generosidade, Seriedade, Sustentabilidade e Transparência.</p>
            </div>
        </div>
    </div>
</section>


