.pesquisa{
  width: 100%;
  margin: 10px auto;
}

@media (min-width: 800px) {
  .pesquisa{
    width: 550px;
    margin: 0 auto;
  }

}

.bg-menu {
  background-color: #3E90CC;
  color: white;
}

.btn-info {
  background-color: white;
  color: #3E90CC;
  border-color: white;
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
  color: #fff;
  background-color: #3E90CC !important;
  border-color: white;
}
