<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Logo vai aqui -->
  <nav class="navbar navbar-light bg-light p-0">
    <a class="navbar-brand" routerLink='/inicio'>
      <img src="https://i.imgur.com/ejklZpH.png" height="40px" alt="">
    </a>
  </nav>
  <!-- Botão responsivo -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">

    <!-- Itens do menu-->

    <!-- Barra de pesquisa -->
    <form class="d-flex pesquisa">
      <input
      [(ngModel)] = 'tituloPost' [(ngModel)] = 'tituloTema' class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    </form>

    <!-- Botões -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink='/sobre'>Sobre nós</a>
      </li>

      <!-- Dropdown -->
      <li>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Perfil
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <p>Olá, {{ usuario.nome }}!</p>
          <hr class="dropdown-divider">
          <a class="dropdown-item" routerLink='/meus-posts'>Todos os posts</a>
          <a class="dropdown-item" routerLink='/meus-posts'>Meus posts</a>
          <a class="dropdown-item" [routerLink]="['/user-edit', id]">Configuração</a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" (click)='sair()'>Sair</a>
        </div>
      </div>
    </li>

    </ul>

  </div>


